@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.separator-y {
  height: 1.5rem;
  padding-right: 1px;
  background-color: #3a3a3a;
}
.separator-x {
  height: 1.5px;
  width: 100%;
  background-color: #e9e9e9;
}

.bullet {
  height: 7px;
  width: 7px;
  padding: 0.25rem;
  background-color: #a445ed;
  border-radius: 50%;
}

.theme-switcher {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6px;
  background-color: #757575;
  padding: 4px 4px;
  border-radius: 2rem;
  cursor: pointer;
}

.switch {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.4s all linear;
}
.active-2 {
  transform: translateX(calc(1.2rem + 4px));
}

input[type='text'] {
  border: 1px solid transparent;
}

input[type='text']:focus {
  border: 1px solid #a445ed;
}
